<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.gabrielmu.arxiv-morning-brief</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__PAPERPULSE_AUTOMATION_DIR__/run_arxiv_morning_brief_with_email.zsh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__PAPERPULSE_AUTOMATION_DIR__</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>TZ</key>
    <string>Asia/Shanghai</string>
  </dict>

  <key>StandardOutPath</key>
  <string>__PAPERPULSE_LOG_DIR__/arxiv_morning_brief.launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>__PAPERPULSE_LOG_DIR__/arxiv_morning_brief.launchd.err.log</string>
</dict>
</plist>
